<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidash Live</title>
</head>
<style>
    body{
        background-color:rgb(37, 35, 61);
        height:100vh;
        width:100vw;
    }
    .centered{
        display:grid;
        place-items: center;
        height:100%;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size:36px;
    }
</style>
<body>
    <center class="centered">No Internet :(</center>
</body>
</html>
